
PORT=
NODE_ENV=

DEMO_MODE=


DEMO_RESET_TOKEN=


MONGO_URL=


FRONTEND_URL=


ADMIN_COOKIE_SECRET=
ADMIN_SESSION_SECRET=


EMAIL_DRIVER=
EMAIL_FROM=
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_SECURE=


CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=


SOCKET_CORS_ORIGIN=

VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=

CRON_ENABLED=true
